@model IEnumerable<WebApplication1.Models.Specialty>

@{
    ViewData["Title"] = "Специальность";
}

<h1>Специальность</h1>

<p>
    <a asp-action="Create">Создать новую</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Наименование
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SpecializationId">Изменить</a> |
                <a asp-action="Details" asp-route-id="@item.SpecializationId">Детали</a> |
                <a asp-action="Delete" asp-route-id="@item.SpecializationId">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
